@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


/* -------VARIABLES--------- */

:root {
    --dark-blue: #0900bc;
    --blue: #5e72eb;
    --light-blue: #9fadfc;
    --red: #ff9190;
    --dark-red: #fc4668;
    --orange: #fdc094;
}


/* -------COMMONN STYLES--------- */

body {
    font-family:  'Montserrat', sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
}

.title-lines {
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding: 1rem;
}

.lines-blue-red {
    border-image-source: linear-gradient(90deg, var(--blue), var(--red));
    border-image-slice: 1;
}

.lines-blue {
    border-image-source: linear-gradient(45deg, var(--light-blue), var(--blue), var(--dark-blue));
    border-image-slice: 1;
}

.lines-red {
    border-image-source: linear-gradient(90deg, var(--orange), var(--red), var(--dark-red));
    border-image-slice: 1; 
}

.btn-blue {
    background: linear-gradient(90deg, var(--light-blue), var(--blue), var(--dark-blue));
    color: #fff;
    box-sizing: border-box;
}

.btn-blue:hover {
    background: var(--blue);
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3),
    3px 3px 9px rgba(0, 0, 0, 0.4);
}

.btn-red {
    background: linear-gradient(90deg, var(--orange), var(--red), var(--dark-red));
    color: #fff;
}

.btn-red:hover {
    background: var(--red);
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3),
    3px 3px 9px rgba(0, 0, 0, 0.4);
}


/* -------MAIN PAGE--------- */

.select-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.select-btn {
    width: 40%;
    max-width: 450px;
    text-decoration: none;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.25rem;
    line-height: 3rem;
    text-transform: uppercase;
    border-radius: 4rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
                3px 3px 6px rgba(0, 0, 0, 0.2);
}


.cards {
    display: inline-flex;
    justify-content: space-evenly;
}

.card-container {
    width: 45%;
    display: inline-block;
    text-align: center;
}

.card-container button, #reset-btn,  #submit-form, #reset-button, .btn {
    margin: 2rem 1rem;
    font: 400 1rem 'Montserrat';
    background-color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

.card-container div {
    padding: 1rem;
    border: 1px solid gray;
    width: calc(63px * 3.5);
    height: calc(88px * 3.5);
    border-radius: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.reset-container {
    text-align: center;
}

.card-container button, #submit-form, .btn-green {
    border: 1px solid #00798c;
    color: #00798c;
    text-decoration: none;
}

.card-container button:hover, #submit-form:hover, .btn-green:hover  {
    background-color: #00798c;
    color: #fff;
}

.card-container button[disabled], #submit-form[disabled] {
    border: 1px solid #9db4c0;
    color: #9db4c0;
    /* cursor: not-allowed; */
    pointer-events: none;
}

.card-container button[disabled]:hover, #submit-form[disabled]:hover {
    border: 1px solid #9db4c0;
    color: #9db4c0;
    background-color: #fff;
}

#reset-btn, #reset-button {
    border: 1px solid #d1495b;
    color: #d1495b;
    text-decoration: none;
}

#reset-btn:hover, #reset-button:hover {
    background-color: #d1495b;
    color: #fff;
}

#reset-btn:focus, .card-container button:focus {
    outline: none;
}




/* Personalities */
.question-name {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 600;
}

form {
    margin-bottom: 4rem;
    padding-left: 2rem;
}

#question-container {
    margin-bottom: 2rem;
}

.pers-descr {
    text-align: center;
    max-width: 45rem;
    margin: 0 auto;
    padding: 2rem;

}

.pers-descr img {
    height: 400px;
    margin: 1rem auto;
}